* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue',
        cursive;
}

header {
    display: flex;
    margin: auto;
    width: 90%;
    height: 10vh;
    align-items: center;
    margin-bottom: 20px;
}

.logo-container,
.nav-links,
.cart {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 5px;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}

.cart {
    flex: 1;
    justify-content: flex-end;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-width: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.intro-text h1 {
    font-size: 38px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select {
    border: 2px solid #c36cbb;
    background-color: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
}

.cta-add {
    background: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
}

.cover img {
    margin-top: 30px;
    height: 70vh;
    width: auto;
    filter: drop-shadow(25px 10px 7px rgb(241, 163, 176));
    animation: drop 2s ease-in-out;
}

.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.4;
    height: 80%;
}

.medium-circle {
    position: absolute;
    top: 25%;
    right: 23%;
    z-index: -1;
    height: 60%;
    opacity: 0.5;
}

.small-circle {
    position: absolute;
    bottom: 0%;
    left: 30%;
    z-index: -1;
    opacity: 1;
}

.waifu-select {
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 20%;
    margin-top: 30px;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }

    .introduction {
        margin-top: 5vh;
        text-align: center;
    }

    .intro-text h1 {
        font-size: 30px;
    }

    .intro-text p {
        font-size: 18px;
    }

    .cta {
        padding: 10px 0px 0px 0px;
    }

    .laptop-select {
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }

    .cover img {
        height: 10%;
    }

    .small-circle,
    .medium-circle,
    .big-circle {
        opacity: 0.5;
    }
}